{{define "Index"}}

{{template "_head"}}

{{template "_menu"}}

<body>
    <div class="container">
        <section class="card">
            <div>
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.Description}}</td>
                            <td>{{.Price}}</td>
                            <td>{{.Quantity}}</td>
                            <td><a href="/edit-product?id={{.Id}}" class="btn btn-info">Edit</a></td>
                            <td><button class="btn btn-danger" onclick="onDelete('{{.Id}}')">Delete</button></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="card-footer">
            <a href="/new-product" class="btn btn-primary mb-2">New product</a>
        </div>
    </div>
</body>
<script>
    function onDelete(idProduct){
        let answer = confirm("Are you sure you want to delete this product?");
        if(answer){
            window.location = `/delete-product?id=${idProduct}`;
        }
    }
</script>
</html>
{{end}}